In [ ]:
# Creating two DataFrames
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df2 = pd.DataFrame({
    'Name': ['Charlie', 'David'],
    'Age': [35, 40]
})

# Incorrect concatenation (missing argument for concatenation along rows)
combined_df = pd.concat([df1, df2], axis=2)
print(combined_df)

In [ ]:
# Creating two DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Salary': [50000, 60000, 70000]
})

# Incorrect merging (misspelled argument for join type)
merged_df = pd.merge(df1, df2, on='ID', how='leftjoin')
print(merged_df)

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03'],
    'City': ['New York', 'Chicago', 'New York'],
    'Sales': [100, 150, 200]
})

# Incorrect pivot table syntax
pivot_df = pd.pivot_table(df, index='Date', values='Sales', cols='City', aggfunc='sum')
print(pivot_df)

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 60000, 70000]
})

# Incorrect application of a function to a column (wrong lambda syntax)
df['New Salary'] = df['Salary'].apply(lambda x: x * 1.1 if x > 60000 else: x * 1.05)
print(df)

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'Bob'],
    'Sales': [200, 150, 300, 400],
    'City': ['New York', 'Chicago', 'New York', 'Chicago']
})

# Incorrect groupby with multiple aggregation functions
grouped_df = df.groupby('City')['Sales'].agg([sum, 'average'])
print(grouped_df)

In [ ]:
# Creating a DataFrame with incorrect date type
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-02-01', '2023-03-01'],
    'Sales': [200, 300, 400]
})

# Incorrect datetime conversion (wrong column name)
df['Date'] = pd.to_timestamp(df['Dates'])

# Setting Date column as index
df.set_index('Date', inplace=True)
print(df)

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Math': [85, 90],
    'English': [95, 80]
})

# Incorrect use of melt (wrong column names in 'id_vars')
melted_df = pd.melt(df, id_vars='Names', value_vars=['Math', 'English'])
print(melted_df)

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=5),
    'Sales': [100, 200, 150, 300, 250]
})

# Incorrect rolling function (wrong method name)
df['Rolling Mean'] = df['Sales'].roll(3).mean()
print(df)

In [ ]:
import numpy as np

# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 70]
})

# Incorrect conditional assignment (wrong column name and np.where syntax)
df['Result'] = np.where(df['Scores'] >= 80, 'Pass', 'Fail')
print(df)