Exercise 1: DataFrame Creation and Column Selection

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

print(df.Age())

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

filtered_data = df[df.Age > 30]
print(filtered_data)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df.renames(columns={'Name': 'Full Name'}, inplace=True)
print(df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df.renames(columns={'Name': 'Full Name'}, inplace=True)
print(df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df.drop('Location', axis=1, inplace=True)
print(df)

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

grouped = df.groupby('City').Age.mean()
print(grouped)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

df_sorted = df.sort_values(by='Salary')
print(df_sorted)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, None, 35, 40]
})

df.dropna(axis=2, inplace=True)
print(df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 65, 70]
})

df['Senior'] = df['Age' > 60]
print(df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice'],
    'Age': [25, 30, 35, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York']
})

df.drop_duplicates(subset='Names', inplace=True)
print(df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

df['City'].replace({'New York': 'NY', 'Los Angeles': 'LA', 'Chicago': 'CHI'})
print(df)

In [ ]:
df = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

df.set_index('Ids', inplace=True)
print(df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 25],
    'City': ['New York', 'Los Angeles', 'New York']
})

df.sort_values(by=['Age', 'City'], ascend=False)
print(df)

In [ ]:
df = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

print(df.loc[4])

In [ ]:
data = {
    'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Temperature': [30, 70, 32, 75]
}
df = pd.DataFrame(data)

pivot_df = df.pivot(index='Date', column='City', values='Temperature')
print(pivot_df)

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

df.toexel('output.xlsx')

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.DataFrame({
    'Age': [25, 30, 35, 40]
})

df.plot(kind='hist', bins=5)
plt.shows()